body {
  display: flex;
  font-family: Roboto;
  margin: 0;
  max-width: 940px;
  justify-content: center; 
  margin: 0 auto;
}

#app {
  inline-size: 100%;
  display: flex;
  padding-block: 50px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  inline-size: 1px;
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: inherit;
  border: none;
  background-color: transparent;
  color: #202124;
  font-size: 0.875rem;
  cursor: pointer;
  transition-duration: .3s;
}

.button:hover {
  background-color: #eeeeee;
}